.box{
    margin-left: 30%;
    margin-top: 5%;
    background-color: plum;
    width: 40%;
    height: 400px;
    border-color: purple;
    border-width: 5px;
    border-style: solid;
    /*
    border: 10px solid blue;*/
    border-top-color: aqua;
    border-top-width: 10px;
    border-top-style: dotted;

    border-right-color: black;
    border-right-width: 20px;
    border-right-style: double;
    
}
.box_sizing{

    margin-top: 20px;
    background-color: plum;
    width: 25%;
    height: 300px;
    border-color: purple;
    border-width: 5px;
    border-style: solid;
    float: left;

    box-sizing: border-box;

}